$color-bacground: #222;
$color-background-d: rgba(0, 0, 0, .3);
$color-text-s: #999;

$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 18px;

$sidebar-width: 180px;

$border-radius: 5px;
$border-color: #eee;

$box-margin: 15px;
$box-padding: 10px;